# List

In [4]:
list_one = ["karachi","lahore","quetta","peshawer","islamabad",'karachi']

In [140]:
list_one.append("gilgit")                 #add given word in list

In [141]:
list_two = list_one.copy()               #return copy list

In [142]:
list_one.count("karachi")               #return how many times given element appear in list

2

In [143]:
list_one.extend("ball")                #return list with single strings of given word

In [144]:
list_one.index("islamabad")            #return number of position of element

4

In [145]:
list_one.insert(2,"kashmir")           #insert given element at given number

In [146]:
list_one.pop(-4)                      #pop out element of given index

'b'

In [147]:
list_one.remove(("l"))               #remove given word

In [190]:
del ln[-1]                            #remove given word at given index

In [148]:
list_one.reverse()                   # reverse the list

In [150]:
list_one.sort()                     # return list in order

In [84]:
list_one.clear()                    # return empty list

## List Slicing

In [16]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10]

In [14]:
ln = list_of_numbers
ln

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
ln[3:8]                            # forward slicing

[4, 5, 6, 7, 8]

In [177]:
ln[-7:-2]                         # reverse slicing

[4, 5, 6, 7, 8]

In [179]:
ln[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [180]:
ln[:4]

[1, 2, 3, 4]

## Tuple

In [207]:
tup = tuple('strings')                         #no insert,append or any change in tuple

In [201]:
tup.count('s')                                 #return how many times given element appear in tuple

2

In [202]:
tup.index('t')                                #return number of position of element

1

In [227]:
Tuple = ('pakistan','zindabad')

In [231]:
Tuple.count("pakistan")

1

In [232]:
Tuple.index("zindabad")

1

## Dictionary

In [307]:
dic = {1:'karachi',2:'peshawer',3:'islamabad','a':"quetta"}

In [333]:
dic.fromkeys('b','lahore')                                  #add key value in dict

{'b': 'lahore'}

In [309]:
dic.get(1)                                                  # return value at given key

'karachi'

In [310]:
dic.keys()                                                 # return all keys in dict

dict_keys([1, 2, 3, 'a'])

In [311]:
dic.items()                                                # return all items in dict

dict_items([(1, 'karachi'), (2, 'peshawer'), (3, 'islamabad'), ('a', 'quetta')])

In [312]:
dic.pop('a')                                              # pop out value at given key

'quetta'

In [313]:
dic.popitem()                                             #pop out key and value at last

(3, 'islamabad')

In [334]:
dic.setdefault(3,'denmark')                      #Insert key with a value of default if key is not in the dictionary

'denmark'

In [335]:
dic.update()                                    # update dictionary

In [316]:
new_dict = dic.copy()                           # creatre a copy of dic

In [317]:
dic.values()                                    # # return all values in dict

dict_values(['karachi', 'peshawer', 'denmark'])

In [332]:
dic.clear()                                       # return empty dict

In [189]:
dict_list = [{1:'england',2:'pakistan',3:'norway'},{'a':123,'b':456,'c':789}]

In [193]:
dict_list[1]['a']

123

In [195]:
customer_29876 = {"first name": "David","last name": "Elliott","address": "4803 Wellesley St.","discounts": ["standard", "volume", "loyalty"]}

In [202]:
customer_29876["discounts"][2]

'loyalty'

In [203]:
dic = {1:'karachi',2:'peshawer',3:'islamabad','a':{1:'p',2:'a',3:'k'}}

In [205]:
dic['a'][2]

'a'

## Set

In [170]:
set1 = {1,2,3,4,5,6,7,8,9,'a'}

In [171]:
set1.add(11)

In [172]:
set2 = set1.copy()

In [173]:
set1.difference({11})

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'a'}

In [174]:
set1.difference_update({9})

In [175]:
set1.discard(11)

In [163]:
set1.intersection('a')

{'a'}

In [164]:
set1.intersection_update({'a'})

In [165]:
set1.isdisjoint('a')

False

In [166]:
set1.issubset('a')

True

In [167]:
set1.issuperset({9})

False

In [178]:
set1.pop()

1

In [180]:
set1.remove('a')

In [185]:
set1.union()

{2, 3, 4, 5, 6, 7, 8}

In [186]:
set1.update()

In [188]:
set1.clear()